In [1]:
import pandas as pd

## Load the Internet Exchange Points Data

In [2]:
IXP_by_City = pd.read_csv("/Users/sabrinasayed/Documents/GitHub/Data_Center_Sites/Data/IXPs_by_City.csv",
                          sep=',',           
                          quotechar='"',     
                          skipinitialspace=True)
IXP_by_City

                                          IXP Name              Location
0                                            48 IX           Phoenix, AZ
1                                            ABQIX       Albuquerque, NM
2                                         AlaskaIX         Anchorage, AK
3           Amateur Radio Internet Exchange - ARIX           Fremont, CA
4           Amateur Radio Internet Exchange - ARIX          Portland, OR
..                                             ...                   ...
194           Twin Ports Internet Exchange - TP-IX            Duluth, MN
195                West Virginia Internet Exchange  South Charleston, WV
196                   Willamette Internet Exchange            Eugene, OR
197  Yellowstone Regional Internet eXchange - YRIX          Billings, MT
198                Zero Internet eXchange San Jose          San Jose, CA

[199 rows x 2 columns]

In [3]:
IXP_by_City.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   IXP Name  199 non-null    object
 1   Location  199 non-null    object
dtypes: object(2)
memory usage: 3.2+ KB

In [4]:
IXP_by_City['Location'] = IXP_by_City['Location'].str.strip()

Split the Location column into City and State columns

In [5]:
IXP_by_City[['City', 'State']] = IXP_by_City['Location'].str.rsplit(',', n=1, expand=True)
IXP_by_City

,IXP Name,Location,City,State
0,48 IX,"Phoenix, AZ",Phoenix,AZ
1,ABQIX,"Albuquerque, NM",Albuquerque,NM
2,AlaskaIX,"Anchorage, AK",Anchorage,AK
3,Amateur Radio Internet Exchange - ARIX,"Fremont, CA",Fremont,CA
4,Amateur Radio Internet Exchange - ARIX,"Portland, OR",Portland,OR
...,...,...,...,...
194,Twin Ports Internet Exchange - TP-IX,"Duluth, MN",Duluth,MN
195,West Virginia Internet Exchange,"South Charleston, WV",South Charleston,WV
196,Willamette Internet Exchange,"Eugene, OR",Eugene,OR
197,Yellowstone Regional Internet eXchange - YRIX,"Billings, MT",Billings,MT
198,Zero Internet eXchange San Jose,"San Jose, CA",San Jose,CA

In [6]:
# Clean up any whitespace spaces in the new columns
IXP_by_City['City'] = IXP_by_City['City'].str.strip()
IXP_by_City['State'] = IXP_by_City['State'].str.strip()

IXP_by_City.head()

                                 IXP Name         Location         City State
0                                   48 IX      Phoenix, AZ      Phoenix    AZ
1                                   ABQIX  Albuquerque, NM  Albuquerque    NM
2                                AlaskaIX    Anchorage, AK    Anchorage    AK
3  Amateur Radio Internet Exchange - ARIX      Fremont, CA      Fremont    CA
4  Amateur Radio Internet Exchange - ARIX     Portland, OR     Portland    OR

In [7]:
#Drop the Location column
IXP_by_City = IXP_by_City.drop(columns=['Location'])
IXP_by_City.head()

                                 IXP Name         City State
0                                   48 IX      Phoenix    AZ
1                                   ABQIX  Albuquerque    NM
2                                AlaskaIX    Anchorage    AK
3  Amateur Radio Internet Exchange - ARIX      Fremont    CA
4  Amateur Radio Internet Exchange - ARIX     Portland    OR

In [8]:
pd.set_option('display.max_rows', None)

In [10]:
pd.reset_option('display.max_rows', 10)
IXP_by_City

                                          IXP Name              City State
0                                            48 IX           Phoenix    AZ
1                                            ABQIX       Albuquerque    NM
2                                         AlaskaIX         Anchorage    AK
3           Amateur Radio Internet Exchange - ARIX           Fremont    CA
4           Amateur Radio Internet Exchange - ARIX          Portland    OR
..                                             ...               ...   ...
194           Twin Ports Internet Exchange - TP-IX            Duluth    MN
195                West Virginia Internet Exchange  South Charleston    WV
196                   Willamette Internet Exchange            Eugene    OR
197  Yellowstone Regional Internet eXchange - YRIX          Billings    MT
198                Zero Internet eXchange San Jose          San Jose    CA

[199 rows x 3 columns]

# Load in State Emissions Data

In [22]:
emissions = pd.read_csv("/Users/sabrinasayed/Documents/GitHub/Data_Center_Sites/Data/EPA_State_Emissions_2023.csv")

emissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7511 entries, 0 to 7510
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   REPORTING YEAR                   7511 non-null   int64
 1   FACILITY NAME                    7511 non-null   object
 2   GHGRP ID                         7511 non-null   int64
 3   REPORTED ADDRESS                 7030 non-null   object
 4   LATITUDE                         7511 non-null   float64
 5   LONGITUDE                        7511 non-null   float64
 6   CITY                             7511 non-null   object
 7   COUNTY                           6710 non-null   object
 8   STATE                            7511 non-null   object
 9   ZIP CODE                         7511 non-null   int64
 10  PARENT COMPANIES                 7510 non-null   object
 11  GHG QUANTITY (METRIC TONS CO2e)  7511 non-null   int64
 12  SUBPARTS                         7511 non-null   object
dtypes: float64(2), int64(4), object(7)
memory usage: 763.0+ KB

This dataset shows the Greenhouse Gas Missions from Large facilities broken down by city, county, and state.

In [23]:
emissions.head()

,REPORTING YEAR,FACILITY NAME,GHGRP ID,REPORTED ADDRESS,LATITUDE,LONGITUDE,CITY,COUNTY,STATE,ZIP CODE,PARENT COMPANIES,GHG QUANTITY (METRIC TONS CO2e),SUBPARTS
0,2023,(430) Civitas Resources - Permian Basin,1014785,555 17th St. Suite 3700,39.745220,-104.989197,Denver,NaN,CO,80202,CIVITAS RESOURCES INC (100%),844548,W
1,2023,(540) Civitas Resources - Denver Basin,1000355,555 17th St. Suite 3700,39.744310,-104.988580,Denver,NaN,CO,80202,CIVITAS RESOURCES INC (100%),887487,W
2,2023,(540) Civitas Resources - GB - Denver Basin,1014558,555 17th St. Suite 3700,39.745822,-104.989243,Denver,NaN,CO,80202,CIVITAS RESOURCES INC (100%),110747,W
3,2023,121 REGIONAL DISPOSAL FACILITY,1004377,3820 SAM RAYBURN HIGHWAY,33.298570,-96.535860,MELISSA,COLLIN COUNTY,TX,75454,NORTH TEXAS MUNICIPAL WATER DISTRICT (100%),288302,HH
4,2023,15-18565/15-18662,1010040,1021 Tori Drive,37.274127,-83.239034,Hazard,PERRY COUNTY,KY,40701,CAMBRIAN COAL LLC (100%),122327,FF

In [24]:
emissions['COUNTY'].fillna('Unknown', inplace=True)
emissions.head()

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_15000/687316670.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  emissions['COUNTY'].fillna('Unknown', inplace=True)

,REPORTING YEAR,FACILITY NAME,GHGRP ID,REPORTED ADDRESS,LATITUDE,LONGITUDE,CITY,COUNTY,STATE,ZIP CODE,PARENT COMPANIES,GHG QUANTITY (METRIC TONS CO2e),SUBPARTS
0,2023,(430) Civitas Resources - Permian Basin,1014785,555 17th St. Suite 3700,39.745220,-104.989197,Denver,Unknown,CO,80202,CIVITAS RESOURCES INC (100%),844548,W
1,2023,(540) Civitas Resources - Denver Basin,1000355,555 17th St. Suite 3700,39.744310,-104.988580,Denver,Unknown,CO,80202,CIVITAS RESOURCES INC (100%),887487,W
2,2023,(540) Civitas Resources - GB - Denver Basin,1014558,555 17th St. Suite 3700,39.745822,-104.989243,Denver,Unknown,CO,80202,CIVITAS RESOURCES INC (100%),110747,W
3,2023,121 REGIONAL DISPOSAL FACILITY,1004377,3820 SAM RAYBURN HIGHWAY,33.298570,-96.535860,MELISSA,COLLIN COUNTY,TX,75454,NORTH TEXAS MUNICIPAL WATER DISTRICT (100%),288302,HH
4,2023,15-18565/15-18662,1010040,1021 Tori Drive,37.274127,-83.239034,Hazard,PERRY COUNTY,KY,40701,CAMBRIAN COAL LLC (100%),122327,FF

In [25]:
emissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7511 entries, 0 to 7510
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   REPORTING YEAR                   7511 non-null   int64
 1   FACILITY NAME                    7511 non-null   object
 2   GHGRP ID                         7511 non-null   int64
 3   REPORTED ADDRESS                 7030 non-null   object
 4   LATITUDE                         7511 non-null   float64
 5   LONGITUDE                        7511 non-null   float64
 6   CITY                             7511 non-null   object
 7   COUNTY                           7511 non-null   object
 8   STATE                            7511 non-null   object
 9   ZIP CODE                         7511 non-null   int64
 10  PARENT COMPANIES                 7510 non-null   object
 11  GHG QUANTITY (METRIC TONS CO2e)  7511 non-null   int64
 12  SUBPARTS                         7511 non-null   object
dtypes: float64(2), int64(4), object(7)
memory usage: 763.0+ KB

In [26]:
emissions['PARENT COMPANIES'] = emissions['PARENT COMPANIES'].str[:-6]
emissions['PARENT COMPANIES'] = emissions['PARENT COMPANIES'].str.strip()
emissions.head()

,REPORTING YEAR,FACILITY NAME,GHGRP ID,REPORTED ADDRESS,LATITUDE,LONGITUDE,CITY,COUNTY,STATE,ZIP CODE,PARENT COMPANIES,GHG QUANTITY (METRIC TONS CO2e),SUBPARTS
0,2023,(430) Civitas Resources - Permian Basin,1014785,555 17th St. Suite 3700,39.745220,-104.989197,Denver,Unknown,CO,80202,CIVITAS RESOURCES INC,844548,W
1,2023,(540) Civitas Resources - Denver Basin,1000355,555 17th St. Suite 3700,39.744310,-104.988580,Denver,Unknown,CO,80202,CIVITAS RESOURCES INC,887487,W
2,2023,(540) Civitas Resources - GB - Denver Basin,1014558,555 17th St. Suite 3700,39.745822,-104.989243,Denver,Unknown,CO,80202,CIVITAS RESOURCES INC,110747,W
3,2023,121 REGIONAL DISPOSAL FACILITY,1004377,3820 SAM RAYBURN HIGHWAY,33.298570,-96.535860,MELISSA,COLLIN COUNTY,TX,75454,NORTH TEXAS MUNICIPAL WATER DISTRICT,288302,HH
4,2023,15-18565/15-18662,1010040,1021 Tori Drive,37.274127,-83.239034,Hazard,PERRY COUNTY,KY,40701,CAMBRIAN COAL LLC,122327,FF

In [29]:
#There are 52 unique states, this must include terriroties
len(emissions['STATE'].value_counts().unique())

52

In [30]:
emissions['STATE'].value_counts()

STATE
TX    1307
LA     410
CA     407
PA     328
OK     275
OH     269
MI     226
CO     222
IL     222
NY     217
IN     198
FL     182
AL     172
GA     170
IA     159
KY     140
VA     135
MN     134
WI     133
NC     130
TN     129
WV     128
MS     117
MO     111
KS     110
WA     105
NM      99
AR      98
SC      97
AZ      94
NJ      85
UT      80
NE      77
ND      77
AK      71
WY      69
MA      68
OR      58
MD      54
NV      45
CT      41
SD      39
ID      37
MT      32
ME      29
HI      27
PR      23
DE      20
NH      17
RI      11
GU       9
VT       7
DC       6
VI       5
Name: count, dtype: int64

In [31]:
emissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7511 entries, 0 to 7510
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   REPORTING YEAR                   7511 non-null   int64
 1   FACILITY NAME                    7511 non-null   object
 2   GHGRP ID                         7511 non-null   int64
 3   REPORTED ADDRESS                 7030 non-null   object
 4   LATITUDE                         7511 non-null   float64
 5   LONGITUDE                        7511 non-null   float64
 6   CITY                             7511 non-null   object
 7   COUNTY                           7511 non-null   object
 8   STATE                            7511 non-null   object
 9   ZIP CODE                         7511 non-null   int64
 10  PARENT COMPANIES                 7510 non-null   object
 11  GHG QUANTITY (METRIC TONS CO2e)  7511 non-null   int64
 12  SUBPARTS                         7511 non-null   object
dtypes: float64(2), int64(4), object(7)
memory usage: 763.0+ KB

In [34]:
# Make sure they are object types
emissions[['FACILITY NAME','CITY','COUNTY','PARENT COMPANIES']] = emissions[['FACILITY NAME','CITY','COUNTY','PARENT COMPANIES']].astype(object)

In [36]:
emissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7511 entries, 0 to 7510
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   REPORTING YEAR                   7511 non-null   int64
 1   FACILITY NAME                    7511 non-null   object
 2   GHGRP ID                         7511 non-null   int64
 3   REPORTED ADDRESS                 7030 non-null   object
 4   LATITUDE                         7511 non-null   float64
 5   LONGITUDE                        7511 non-null   float64
 6   CITY                             7511 non-null   object
 7   COUNTY                           7511 non-null   object
 8   STATE                            7511 non-null   object
 9   ZIP CODE                         7511 non-null   int64
 10  PARENT COMPANIES                 7510 non-null   object
 11  GHG QUANTITY (METRIC TONS CO2e)  7511 non-null   int64
 12  SUBPARTS                         7511 non-null   object
dtypes: float64(2), int64(4), object(7)
memory usage: 763.0+ KB

## Loading the Electric Power Reliability Metrics Using IEEE of Distribution Systems by State for 2023 and 2022

Sourced: U.S. Energy Information Administration, Form EIA-861, Annual Electric Power Industry Report.

In [51]:
reliability_distribution = pd.read_csv("/Users/sabrinasayed/Documents/GitHub/Data_Center_Sites/Data/Power_Reliability_Metrics_Distribution_System.csv")
reliability_distribution.head()

,Census Division,State,Percent of Customers Reported w/ Major Events (2023),Percent of Customers Reported w/ Major Events (2022),SAIDI w/ Major Events (2023),SAIDI w/ Major Events (2022),SAIFI w/ Major Events (2023),SAIFI w/ Major Events (2022),CAIDI w/ Major Events (2023),CAIDI w/ Major Events (2022),SAIDI w/o Major Events (2023),SAIDI w/o Major Events (2022),SAIFI w/o Major Events (2023),SAIFI w/o Major Events (2022),CAIDI w/o Major Events (2023),CAIDI w/o Major Events (2022)
0,New England,Connecticut,100.6%,100.2%,164.6,157.4,0.9,0.8,188.8,191.8,70.3,66.1,0.7,0.6,107.3,106.4
1,New England,Maine,100.8%,102.7%,"1,863.0",963.6,3.3,3.0,562.2,321.1,247.4,216.7,2.0,2.0,125.0,110.8
2,New England,Massachusetts,88.2%,93.1%,259.4,163.2,1.1,1.1,245.4,151.0,82.2,83.0,0.8,0.9,105.4,93.8
3,New England,New Hampshire,99.3%,99.3%,645.8,616.7,1.8,1.8,368.5,345.9,124.6,107.5,1.0,0.9,126.1,115.6
4,New England,Rhode Island,98.3%,98.2%,104.6,81.9,0.8,1.0,133.7,85.4,52.2,63.2,0.7,0.8,78.3,78.2

- SAIDI = System Average Interruption Duration Index. It is the minutes of non-momentary electric interruptions, per year, the average customer experienced.

- SAIFI = System Average Interruption Frequency Index. It is the number of non-momentary electric interruptions, per year, the average customer experienced.

- CAIDI = Customer Average Interruption Duration Index. It is average number of minutes it takes to restore non-momentary electric interruptions.
- IEEE refers to the IEEE 1366-2003 or the IEEE 1366-2012 standard.

- A Major Event Day is any day that exceeds a daily SAIDI threshold called Tmed. Tmed is a duration statistic calculated from daily SAIDI values from the past five years.

- Loss of Supply Removed excludes outages due to loss of supply from the high-voltage/bulk power system.

- Percent of Customers Reported is an estimate of the percentage of total customers covered by these metrics. The numerator is reported number of meters used on the reliability schedule, while the denominator is the number of customers reported on the sales to ultimate customers schedule. It is possible, in some instances, for this metric to exceed 100%.

In [52]:
reliability_distribution.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 16 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Census Division                                       51 non-null     object
 1   State                                                 51 non-null     object
 2   Percent of Customers Reported w/ Major Events (2023)  51 non-null     object
 3   Percent of Customers Reported w/ Major Events (2022)  51 non-null     object
 4   SAIDI w/ Major Events (2023)                          51 non-null     object
 5   SAIDI w/ Major Events (2022)                          51 non-null     object
 6   SAIFI w/ Major Events (2023)                          51 non-null     float64
 7   SAIFI w/ Major Events (2022)                          51 non-null     float64
 8   CAIDI w/ Major Events (2023)                          51 non-null     float64
 9   CAIDI w/ Major Events (2022)                          51 non-null     float64
 10  SAIDI w/o Major Events (2023)                         51 non-null     float64
 11  SAIDI w/o Major Events (2022)                         51 non-null     float64
 12  SAIFI w/o Major Events (2023)                         51 non-null     float64
 13  SAIFI w/o Major Events (2022)                         51 non-null     float64
 14  CAIDI w/o Major Events (2023)                         51 non-null     float64
 15  CAIDI w/o Major Events (2022)                         51 non-null     float64
dtypes: float64(10), object(6)
memory usage: 6.5+ KB

In [53]:
# replace state names with abbreviations with the dictionary below:

us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "Virgin Islands, U.S.": "VI",
}

In [46]:
reliability_distribution['State'] = reliability_distribution['State'].replace(us_state_to_abbrev)
reliability_distribution['State'].value_counts()

State
CT    1
AZ    1
VA    1
WV    1
AL    1
KY    1
MS    1
TN    1
AR    1
LA    1
OK    1
TX    1
CO    1
NC    1
ID    1
MT    1
NV    1
NM    1
UT    1
WY    1
CA    1
OR    1
WA    1
AK    1
SC    1
MD    1
ME    1
OH    1
MA    1
NH    1
RI    1
VT    1
NJ    1
NY    1
PA    1
IL    1
IN    1
MI    1
WI    1
GA    1
IA    1
KS    1
MN    1
MO    1
NE    1
ND    1
SD    1
DE    1
DC    1
FL    1
HI    1
Name: count, dtype: int64

In [55]:
reliability_distribution.columns = reliability_distribution.columns.str.strip()

In [56]:
reliability_distribution = reliability_distribution.drop(columns=['Percent of Customers Reported w/ Major Events (2022)',
                                                                  'SAIDI w/ Major Events (2022)',
                                                                  'SAIFI w/ Major Events (2022)',
                                                                  'CAIDI w/ Major Events (2022)',
                                                                  'SAIDI w/o Major Events (2022)',
                                                                  'SAIFI w/o Major Events (2022)',
                                                                  'CAIDI w/o Major Events (2022)'])
reliability_distribution.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 9 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Census Division                                       51 non-null     object
 1   State                                                 51 non-null     object
 2   Percent of Customers Reported w/ Major Events (2023)  51 non-null     object
 3   SAIDI w/ Major Events (2023)                          51 non-null     object
 4   SAIFI w/ Major Events (2023)                          51 non-null     float64
 5   CAIDI w/ Major Events (2023)                          51 non-null     float64
 6   SAIDI w/o Major Events (2023)                         51 non-null     float64
 7   SAIFI w/o Major Events (2023)                         51 non-null     float64
 8   CAIDI w/o Major Events (2023)                         51 non-null     float64
dtypes: float64(5), object(4)
memory usage: 3.7+ KB

In [57]:
cols_to_strip = reliability_distribution.columns[[3, 4, 5, 6, 7, 8]]
cols_to_strip

Index(['SAIDI w/ Major Events (2023)', 'SAIFI w/ Major Events (2023)',
       'CAIDI w/ Major Events (2023)', 'SAIDI w/o Major Events (2023)',
       'SAIFI w/o Major Events (2023)', 'CAIDI w/o Major Events (2023)'],
      dtype='object')

In [61]:
reliability_distribution = reliability_distribution.rename(columns={'SAIDI w/ Major Events (2023)':'SAIDI w/ Major Events',
                                                                    'SAIFI w/ Major Events (2023)': 'SAIFI w/ Major Events',
                                                                    'CAIDI w/ Major Events (2023)':'CAIDI w/ Major Events',
                                                                    'SAIDI w/o Major Events (2023)':'SAIDI w/o Major Events',
                                                                    'SAIFI w/o Major Events (2023)':'SAIFI w/o Major Events',
                                                                    'CAIDI w/o Major Events (2023)':'CAIDI w/o Major Events',
                                                                    'Percent of Customers Reported w/ Major Events (2023)':'Percent of Customers Reported w/ Major Events'})
reliability_distribution.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 9 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Census Division                                51 non-null     object
 1   State                                          51 non-null     object
 2   Percent of Customers Reported w/ Major Events  51 non-null     object
 3   SAIDI w/ Major Events                          51 non-null     object
 4   SAIFI w/ Major Events                          51 non-null     float64
 5   CAIDI w/ Major Events                          51 non-null     float64
 6   SAIDI w/o Major Events                         51 non-null     float64
 7   SAIFI w/o Major Events                         51 non-null     float64
 8   CAIDI w/o Major Events                         51 non-null     float64
dtypes: float64(5), object(4)
memory usage: 3.7+ KB

In [ ]:
reliability_distribution['Percent of Customers Reported w/ Major Events'] = reliability_distribution['Percent of Customers Reported w/ Major Events'].str[:-1]